@media screen and (min-width: 768px) {
    #menu-button {
        display: none;
    }

    #primary-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .card:last-child {
        grid-column: span 2;
    }

    #courses-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .card:last-child {
        grid-column: auto;
    }
}